body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* Hero Section CSS */
* {
    margin: 0;
    padding: 0;
}

.header {
    height: 70px;
    width: auto;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
}

.logo {
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}

.menu {
    float: right;
    line-height: 100px;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 100px
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #3498db;
}


#chk {
    position: absolute;
    left: 600px;
}

.content {
    padding: 0 20px;
}

.content img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}

.content p {
    text-align: justify;
}

@media screen and (max-width: 800px) {

    .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #chk:checked~.menu {
        right: 0;
    }
}

/*2nd Section */

.pricing {
    display: flex;
    justify-content: center;
    padding: 100px;
    position: relative;
    bottom: 80px;

}

.price {
    padding: 40px;
    font-size: 35px;
    font-weight: 800;
    color: rgba(121, 121, 124, 0.781);
    background-color: rgba(209, 211, 205, 0.137);
    border-radius: 10px;

}

.price-1 {
    margin-right: 35px;
}

.price-2 {
    margin-right: 35px;
    border: 3px solid rgb(238, 33, 33);
    border-radius: 10px;
    color: red;
}

.text-1 {
    text-align: center;
}

.text-1 h1 {
    font-size: 50px;
    margin-top: 150px;
}

.text-1 p {
    font-size: 25px;
    color: rgb(94, 91, 91);
    margin-bottom: 30px;
}

.input-data input {
    border: none;
    border-bottom: 2px solid rgba(145, 142, 142, 0.637);
    padding: 10px 400px;
    font-size: 25px;
    color: grey;
    position: relative;
    bottom: 100px;
}

.btn-2 {
    position: relative;
    bottom: 40px;
}

/*3rd section*/

.price-plan {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.plan {
    padding: 30px;
    border-radius: 10px;

}

.common {
    margin-right: 15px;
}

.price-plan p {
    line-height: 30px;
    color: gray;
}

.bg-1 {
    background-color: #EDF5F6;
}

.bg-2 {
    background-color: #FFEEEE;
}

.bg-3 {
    background-color: #FFF4D6;
}

/* 4th section */
.flood {
    display: flex;
    justify-content: center;
    padding: 150px 0px;
}

.img {
    position: relative;
    right: 50px;
}

.img img {
    border-radius: 10px;
    height: 500px;
}

.text h1 {
    font-size: 40px;
}

.text p {
    font-size: 20px;
    color: rgb(153, 161, 168);
}

.btn-3 {
    position: relative;
    top: 15px;
}

/*5th Section*/

.box input {
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    position: relative;
    top: 120px;
    left: 230px;
}

.box input[type="text"] {
    background-color: #D9D9D9;
    padding-right: 100px;
}

.box input[type="submit"] {
    background-color: #FF5959;
    color: #fff;
}


.box {
    background-color: #FFF4D6;
    width: 950px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 120px;
}

/*Footer Section*/
.footer {
    text-align: center;
    color: rgb(224, 219, 219);
    background-color: black;
    padding: 35px;
}

.footer h1 {
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-size: 35px;
}